*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Roboto', sans-serif;
    color: #636363;
    line-height: 1.6;
    font-weight: 400;
}
h3{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}
h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.container{
    max-width: 1199px;
    margin: 55px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container a{
    color: #070120;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    transition: all 0.3s;
}
header .container a:hover{
    color: #f55f8d;
}
header .container span{
    transition: all 1s;
    display: inline-block;
}
header .container a:hover span{
    animation: upToDown 0.3s;
}
.btn__gardient{
    margin-left: 30px;
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2rem;
    color: white;
    border-radius: 30px;
    border: 1px solid transparent;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    transition: all 0.5s;
    cursor: pointer;
}
.btn__gardient:hover{
    background-position: right center;
}
@keyframes upToDown{
    49% {
        transform: translateY(100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    51%{
        opacity: 1;
    }
}
/* carousel */
.samar__carousel{
    background-image: url(./Samar/pic2.png);
    background-size: 100%;
    background-position: top;
    padding-top: 160px;
    position: relative;
    overflow: hidden;
}
.samar__carousel .carousel__left{
    width: 60%;
}

.samar__carousel .carousel__left p{
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px 5px 10px 0;
}
.samar__carousel .carousel__left button{
    margin-left: 0px;
}
.samar__carousel .carousel__left i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}
.carousel__right{
    width: 40%;
}
.carousel__right img{
    padding-left: 30px;
    /* max-width: 100%; */
    display: block;
}
/* service */
.services{
    padding: 100px 0 0;
    text-align: center;
    background-image: url(./Samar/bg2.png);
    background-position: top center;
    background-size: cover;
}
.services__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.services__item{
    background-color: white;
    padding: 30px 45px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
    height: 431px;
    transform: translateY(0);
    transition: all 0.5s;
}
.services__item:hover{
    transform: translateY(-20px);
}
.services__item img{
    width: 215px;
}
.services__item h3{
    font-size: 1.5rem;
    margin: 15px 0;
    color: #262626;
}
.services__item p{
    font-weight: 380;
}
/* about */
.about{
    background-image: url(./Samar/bg15.png);
    background-size: cover;
    background-position: center right;
    text-align: center;
    margin-top: 115px;
}
.about .container{
    position: relative;
    justify-content: flex-end;
    margin-top: 0px;
}
.about__left{ 
    width: 60%;
    position: absolute;
    left: -17%;
    top: 35px;
}

.about__left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.about__right{
    width: 50%;
    text-align: left;
}
.about__right i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
.about__right p:first-of-type, .about__right p:last-of-type{
    margin-bottom: 10px;
    font-weight: 400;
}
.about__right button{
    margin: 15px 0 0 0;
}
/* number */
.number{
    background: url(./Samar/bg14.png);
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.number .container{
    justify-content: space-around;
}
.number i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item .number__wrap{
    display: flex;
}
.number__item h3{
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
    margin-left: 10px;
}
.number__item p{
    color: #262626;
    font-size: 18px;
}
/* feature */
.feature{
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.feature__left{
    width: 50%;
}
.feature__left .feature__item{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.feature__left .feature__item:hover::after{
    opacity: 1;
}
.feature__left .feature__item::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    overflow: hidden;
}
.feature__left .feature__item:hover .item__left,.feature__left .feature__item:hover .item__right{
    z-index: 1;
    color: white;
}
.feature__left .feature__item:hover .item__left i,.feature__left .feature__item:hover .item__right h4{
    color: white
}
.feature__left .feature__item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    transition: all 1s;
}
.feature__left .feature__item .item__right{
    padding-left: 25px;
}
.feature__left .feature__item .item__right p{
    transition: all 1s;
}
.feature__left .feature__item .item__right h4{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}
.feature__left .item-1,.feature__left .item-3{
    margin: 0 30px 35px 0;
}
.feature__left .item-2{
    margin: 0 0 35px 30px;
}
.feature__right{
    width: 50%;
    margin-right: 0px;
}
.feature__right img{
   width: 650px;
   display: block;
   transform: translate(20px,-10px);
   animation: move2 5s infinite;
}
@keyframes move2{
    0%{
        transform: rotate(1deg) translate(22px,-8px);
    }
    50%{
        transform: rotate(-1deg) translate(18px,-12px);
    }
    100%{
        transform: rotate(1deg) translate(22px,-8px);
    }
}
/* portfolio */
.portfolio{
    text-align: center;
    background-image: url(./Samar/bg17.png);
    background-size: cover;
    background-position: top center;
}
.portfolio .container{
    margin-top: 0;
}
.port__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.port__content .port__item{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.port__content .port__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}
.port__item:hover::before {
    left: 125%;
}
.port__content .item-1{
    grid-column: 1 /3;
}
.port__content .item-5{
    grid-row: 2 / 4;
    grid-column: 3/4;
}
.port__content .item-6{
    grid-column: 1/3;
}
.portfolio .port__item img{
    display: block;
    width: 100%;
    height: 100%;
}
.port__item:hover .port__overlay {
    opacity: 1;
}
.port__item:hover .port__overlay .overlay__icon{
    transform: translate(0);
}
.port__item:hover .port__overlay .overlay__text {
    transform: translateY(0);
}
.portfolio .port__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    overflow: hidden;
    opacity: 0;
    transition: all .75s;
}
.portfolio .port__overlay .overlay__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}
.portfolio .port__overlay .overlay__icon a{
    cursor: pointer;
}
.portfolio .port__overlay .overlay__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}
.portfolio .port__overlay .overlay__text h3{
    color: white;
}
.portfolio .port__overlay .overlay__text p{
    color: #fff;
    opacity: .7;
}
#animated-thumbnails a{
    z-index: 10;
}
/* plan */
.plan{
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.plan .plan__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.plan .plan__item{
    background-color: white;
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    transition: all .5s;
    border-image: 100 round;
    width: 380px;
}
.plan .plan__item:hover{
    border-image: url(./Samar/br.png) 1 round;
}
.plan__item h4{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__item img{
    width: 125px;
}
.plan__item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800
}
.plan__item p{
    font-size: 18px;
    color: #262626;
    font-weight: 390;
    text-align: left;
    margin: 7px 0;
    padding-left: 10px;
}
.plan__item p:first-of-type{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    text-align: center;
}
.plan__item p:first-of-type::after{
    display: block;
    content: '';
    background-color: #e1e1f0;
    height: 1px;
    margin-bottom: 20px;
}
.plan__item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan__item button{
    margin-top: 15px;
}
/* testimonial */

.testimonial{
    text-align: center;
    background-image: url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding:0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  /* xu ly vien mo 2 ben start */
  .testimonial-thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial-thumbs::after {
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial-thumbs::after, .testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
/*  end*/
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  /* tao cac dau cham tron */
  .testimonial-pic .shape-bx{
    position: relative;
    left: 50%;
    bottom: 18px;
    height: 35px;
    width: 50px;
    background-color: #f55f8d;
    transform: translateX(-50%);
    transition: all 1s;
    opacity: 0;
  }
  .swiper-slide-thumb-active .shape-bx {
    opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}
.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-pic::after, .testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}
.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}
/* end tao dau cham tron */
.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./Samar/pattern12.png);
    background-position: bottom center;
    background-size: contain;
    height: 100%;
    width: 52px;
    transition: all 1s;
}
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}
  .testimonial-text strong{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .testimonial-text span{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #f55f8d;
  }
  .testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 35px 15px 15px;
  }
  .swiper-pagination-bullet-active {
    background: #f55f8d;
}
/* blog */
.blog{
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.blog__wrapper{
    max-width: 1199px;
    margin: 0 auto;
}
.blog__item{
    width: 363px;
    /* margin-right: 20px; */
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog .blog__item img{
    display: block;
    width: 100%;
    border-radius: 8px;
}
.blog .blog__item .item__header{
    position: relative;
}
.blog .blog__item .item__header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog .blog__item .item__body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__item .item__body h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__item .item__footer{
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog__item .item__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__item .item__footer p{
    margin-right: 20px;
}
.blog__item .item__footer span{
    color: #f55f8d;
}
/* footer */
.footer__top .container{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: relative; */
}
/* footer */
footer{
    background-image: url(./Samar/bg4.png);
    /* display: block; */
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top{
    position: relative;
}
.footer__top h4{
    font-size: 28px;
    color: #262626;
}
.footer__top .top__right{
    width: 50%;
}
.footer__top .top__right form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__top .top__right input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
    margin-right: 0;
}
.top__right input:focus, .top__right input:hover {
    border-color: #f55f8d;
}
.footer__top .top__right button{
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 20px;
    margin-left: 0;
}
.top__right button:hover i {
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}
@keyframes toLeftFromRight{
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}
/* footer body */
.footer__body{
    position: relative;
}
.footer__body .container{
    justify-content: left;
}
footer .footer__body ul{
    list-style: none;
    width: 25%;
}
footer .footer__body ul li{
    padding: 0.5rem 0;
    display: flex;
    font-weight: 395;
}
footer .footer__body ul a{
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
footer .footer__body ul a:hover {
    color: #fff;
}
footer .footer__body h4{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer__body h4::before {
    width: 15px;
}
.footer__body h4::after, .footer__body h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__body h4::after {
    width: 45px;
    left: 20px;
}
.footer__body i {
    font-weight: 700;
    margin-right: 10px;
}
.body__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50%;
}
/* footer bottom */
.footer__bot{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer__bot .container{
    margin: 0 auto;
}
.footer__bot span {
    color: #f55f8d;
}
.bot__right a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
.bot__right a:hover {
    background: #f55f8d;
}
/* back to top */
.cd-top--is-visible {
    visibility: visible !important;
    opacity: 1 !important;
}
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}